name: Platform CI

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Docker
        run: |
          sudo apt update
          sudo apt install docker.io -y

      - name: Build Docker image
        run: docker build -t my-data-platform -f docker/dockerfile .

      - name: Run Docker container
        run: docker run my-data-platform
